<% include ./partials/header %>

<h1>Sign Up!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="adminCode" placeholder="admin code">
    <button>Submit</button>
</form>

<% include ./partials/footer %>